/* reset global margins and padding */
* 
{ 
  font-family: "Poppins";
  margin: 0;
  padding: 0; 
}

/* applies to all elements on page */
body 
{
  width: 90rem;
  height: auto;
  margin: 0 auto;
  background: linear-gradient(
    180deg,
    #003e82 0%,
    rgba(51, 124, 207, 0.8) 76.7%,
    rgba(51, 124, 207, 0.6) 99.98%,
    rgba(51, 124, 207, 0.3) 99.99%
    );
}

/* header image */
#header_image 
{
  background-image: url(../img/web_banner_big_bg.png);
  background-size: 87.5rem;
  background-position: center;
  width: 100%;
  height: 27.625rem;
  box-shadow: 0rem 0.188rem 0.438rem #043162;
}

/* "Events" title and assets */
.title 
{
  font-size: 5rem;
  text-align: center;
  margin-top: 9.375rem;
  color: white;
}

#title_decor_left 
{
  width: 8.125rem;
  margin-bottom: -1.25rem;
  margin-right: 6.25rem;
}

#title_decor_right 
{
  transform: scaleX(-1);
  width: 8.125rem;
  margin-bottom: -1.25rem;
  margin-left: 6.25rem;
}

/* General CSS for events */
.events {
  margin-left: 9.375rem;
  margin-right: 9.375rem;
}

/* Event name */
#event_name 
{
  font-weight:900;
  margin-top: 9.375rem;
  line-height: 6.25rem;
  font-size: 2.5rem;
  color: #ffc436;;
}

/* Event description */
#event_description 
{
  margin-top: 1.125rem;
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 2.813rem;
  color: white;
}

/* Event date */
#event_date 
{
  color: white;
}

/* background logo assets */
#top_left_logo4
{
  width: 13.438rem;
  position: absolute;
  top: 37.5rem;
  transform: rotateX(180deg);
}

/* Google calendar */
.calendar 
{
  text-align: center;
  margin-top: 16.875rem;
  margin-bottom: 50rem;
}
