/* reset global margins and padding */
* 
{ 
  font-family: "Poppins";
  margin: 0;
  padding: 0; 
}

/* applies to all elements on page */
body 
{
  width: 1440px;
  height: auto;
  margin: 0 auto;
  background: linear-gradient(
    180deg,
    #003e82 0%,
    rgba(51, 124, 207, 0.8) 76.7%,
    rgba(51, 124, 207, 0.6) 99.98%,
    rgba(51, 124, 207, 0.3) 99.99%
    );
}

/* header image */
#header_image 
{
  background-image: url(../img/web_banner_big_bg.png);
  background-size: 1400px;
  background-position: center;
  width: 100%;
  height: 410px;
  box-shadow: 0px 3px 7px #043162;
}

/* "Events" title and assets */
.title 
{
  font-size: 80px;
  text-align: center;
  margin-top: 150px;
  color: white;
}

#title_decor_left 
{
  width: 130px;
  margin-bottom: -20px;
  margin-right: 100px;
}

#title_decor_right 
{
  transform: scaleX(-1);
  width: 130px;
  margin-bottom: -20px;
  margin-left: 100px;
}

/* General CSS for events */
.events {
  margin-left: 150px;
  margin-right: 150px;
}

/* Event name */
#event_name 
{
  font-weight:900;
  margin-top: 150px;
  line-height: 100px;
  font-size: 40px;
  color: #ffc436;;
}

/* Event description */
#event_description 
{
  margin-top: 18px;
  font-size: 28px;
  font-weight: 600;
  line-height: 45px;
  color: white;
}

/* Event date */
#event_date 
{
  color: white;
}

/* background logo assets */
#top_left_logo4
{
  width: 215px;
  position: absolute;
  top: 600px;
  transform: rotateX(180deg);
}

/* Google calendar */
.calendar 
{
  text-align: center;
  margin-top: 270px;
  margin-bottom: 800px;
}
