/* reset global margins and padding */
* 
{ 
  font-family: "Poppins";
  margin: 0;
  padding: 0; 
}

/* applies to all elements on page */
body 
{
  height: auto;
  margin: auto;
  background: linear-gradient(
    180deg,
    #003e82 0%,
    rgba(51, 124, 207, 0.8) 76.7%,
    rgba(51, 124, 207, 0.6) 99.98%,
    rgba(51, 124, 207, 0.3) 99.99%
    );
}

/* header image */
#header_image 
{
  background-image: url(../img/web_banner_big_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 30vw;
  box-shadow: 0rem 0.188rem 0.438rem #043162;
}

/* "Events" title and assets */
.title 
{
  text-align: center;
  padding: 8%;
  padding-bottom: 0rem;
  font-size: 7vw;
  color: white;
}

#title_decor_left 
{
  width: 14%;
  margin-right: 4%;
  opacity: 0.65;
}

#title_decor_right 
{
  transform: scaleX(-1);
  width: 14%;
  margin-left: 4%;
  opacity: 0.65;
}

/* Event name */
#event_name 
{
  font-weight: 900;
  padding: 10%;
  padding-bottom: 1%;
  padding-top: 0rem;
  line-height: 6.25rem;
  font-size: 3.27vw;
  color: #ffc436;;
}

/* Event description */
#event_description 
{
  padding: 10%;
  padding-top: 1%;
  font-size: 2vw;
  font-weight: 600;
  line-height: 3vw;
  color: white;
}

/* Event date */
#event_date 
{
  color: white;
}

/* background logo assets */
#top_left_logo4
{
  width: 25%;
  transform: rotateX(200deg);
  margin-left: -7vw;
  margin-top: -30vh;
  opacity: 0.7;
}

#top_right_logo4
{
  width: 29%;
  margin-left: 80vw;
  margin-top: -35vh;
  opacity: 0.7;
}

#left_middle_logo4
{
  width: 21%;
  transform: rotateX(200deg);
  margin-left: -10.7vw;
  margin-top: -28vh;
  opacity: 0.7;
}

#left_bottom_logo4
{
  width: 21%;
  transform: rotateX(220deg);
  margin-left: -5vw;
  margin-top: 3rem;
  opacity: 0.7;
}

#right_bottom_logo4
{
  width: 27%;
  margin-left: 76vw;
  opacity: 0.7;
  margin-bottom: 30rem;
}

/* Google calendar */
.calendar {
	text-align: center;
}

.calendar iframe {
  width: 75%;
  height: 110vh;
}

