/* reset global margins and padding */
* 
{ 
  font-family: "Poppins";
  margin: 0;
  padding: 0; 
}

/* applies to all elements on page */
body 
{
  height: auto;
  margin: auto;
  background: linear-gradient(
    180deg,
    #003e82 0%,
    rgba(51, 124, 207, 0.8) 76.7%,
    rgba(51, 124, 207, 0.6) 99.98%,
    rgba(51, 124, 207, 0.3) 99.99%
    );
}

/* header image */
#header_image 
{
  background-image: url(../img/web_banner_big_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 32rem;
  box-shadow: 0rem 0.188rem 0.438rem #043162;
}

#header_text
{
  text-align: center;
  position: relative;
  margin-left: 23vw;
  margin-right: 23vw;
  top: 4rem;
  margin-bottom: 14rem;

  border-radius: 5rem;
  padding: 4rem;
  padding-bottom: 3rem;

  font-size: 2.938rem;
  font-weight: 600;
  line-height: 2.6rem;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3); /* Subtle blur shadow */

  color: white;

  /* Gradient background */
  background: linear-gradient(
    90deg, /* Horizontal gradient */
    rgb(48, 114, 200)0%, /* Darker shade on the left */
    rgb(29, 42, 146) 100% /* Lighter shade on the right */
  );

  box-shadow: 0rem 0.188rem 0.438rem #043162
}

#header_text_description
{
  font-size: 1.563rem;
}

#itchlink
{
  text-align: center;
  position: relative;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: -9.1rem;

  border-radius: 5rem;
  padding: 1rem;
  padding-top: 0rem;

  font-size: 1.8rem;

  color: white;
  background-color: #191d88f4;
  box-shadow: 0rem 0.188rem 0.438rem #043162;
}

#itchlink:hover {
  transform: scale(1.08);
  text-decoration: underline;
}

#itchlogo
{
  position: relative;
  top: 1rem;
}

#left_corner
{
  position: relative;
  margin-bottom: -4rem;
  margin-right: 1.6rem;
}

#mascot_left
{
  position: relative;
  margin-left: -12.2rem;
  margin-bottom: -1rem;
}

#right_corner
{
  transform: scaleY(-1) scaleX(-1);
  margin-bottom: 1.5rem;
}

#mascot_right
{
  transform: scale(0.5);
  position: relative;
  margin-left: -11.9rem;
  margin-right: -10rem;
  margin-bottom: -10rem;
}

/* title and assets */
.title 
{
  text-align: center;
  padding: 5%;
  padding-bottom: 7%;
  font-size: 2.938rem;
  color: white;
}

.games
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.games > div {
  padding: 2rem;
  padding-top: 7rem;
  margin: 1.5rem;
  border-radius: 4rem;
  text-align: center;
  color: white;
}

#gameelt {
  border-radius: 3rem;
  margin-top: -4rem;
  margin-bottom: 1rem;
}

#gameelt:hover {
  transform: scale(0.9);
}

#gametitle {
  position: relative;
  font-size: 1.563rem;
  font-weight: 600;
  width: 20rem;
  top: -5rem;
  margin: auto;
}

#gamedescription {
  position: relative;
  font-size: 1.063rem;
  line-height: 2rem;
  width: 21rem;
}