/* navbar css  */

*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li, a
{
  font-family: "Poppins";
  font-weight: 700;
  font-size: 16px;
  color: white;
  text-decoration: none;
}

.navbar-left
{
  display: flex;
  align-items: center;
  margin-right: auto;
}

header
{
  background-color: #003E82;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 3%;
}

.logo
{
  margin-right: 10px;
  width: 70px;
  cursor: pointer;
}

.sjsu-game-dev
{
  font-weight: 700;
  font-size: 20px;
  color: white;
  font-family: "Poppins";
}

.nav-links
{
  list-style: none;
  margin-left: auto;
}


.nav-links li
{
  display: flex;
  margin-left: auto;
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a
{
  transition: all .3s ease 0s;
}

.nav-links li a:hover
{
  color: #FFC436;
}

* 
{ 
  font-family: "Poppins";
  margin: 0;
  padding: 0; 
}

body 
{
  height: auto;
  margin: auto;
  background: linear-gradient(
    180deg,
    #003e82 0%,
    rgba(51, 124, 207, 0.8) 76.7%,
    rgba(51, 124, 207, 0.6) 99.98%,
    rgba(51, 124, 207, 0.3) 99.99%
    );
}

#header_image 
{
  
  background-image: url(../img/craft_4.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 28rem;
  box-shadow: 0rem 0.188rem 0.438rem #043162;
  margin-bottom: 10rem;
}

.title 
{
  
  font-size: 47px;
  text-align: center;
  margin-top: 200px;
  /*color: white;*/
  color: #FFC436;;

  
}


#name 
{
  font-weight:900;
  margin-top: 50px;
  margin-left: 450px;
  line-height: 100px;
  font-size: 25px;
  color: #191D88;
}

/* description */
#description 
{
  margin-top: 40px;
  font-size: 28px;
  font-weight: 600;
  line-height: 45px;
  margin-left: 1022px;

  color: #191D88;
}





#top_left_logo4
{

  margin-bottom: -4rem;
  margin-right: 1.6rem;
  width: 417px;
  height: 42%;
  top: -250px;
  left: 50px;
}

#top_right_logo4 {
  margin-bottom: -24rem;
  margin-right: 12.6rem;
  width: 417px;
  height: 42%;
  top: -250px;
  left: 50px;

}

#top_videogame {

  
  margin-bottom: -24rem;
  margin-right: 12.6rem;
  width: 617px;
  height: 42%;
  top: 50px;
  left: 50px;

}
#top_whiteshape {
  margin-bottom: -24rem;
  margin-right: 12.6rem;
  width: 217px;
  height: 42%;
  top: -250px;
  left: 50px;
}

#left_logo2 {

  margin-bottom: -24rem;
  margin-right: 12.6rem;
  width: 417px;
  height: 42%;
  top: 250px;
  left: 50px;
  
}


#bracket
{
  margin-bottom: -24rem;
  margin-right: 2.6rem;
  width: 417px;
  height: 42%;
  top: -250px;
  left: 0px;

}

#bracket2
{
  margin-bottom: -24rem;
  margin-right: 12.6rem;
  width: 417px;
  height: 42%;
  top: -250px;
  left: 50px;

}

/* footer */


.social-media-link
{
  display: flex;
  width: 10rem;
  /* justify images to container because container holds images to apply justify content */
  justify-content: right;
  gap: 1rem;
}

.social-media-link, img
{
  /* max-height fits to parent - social media link div whose size is 2rem */
  /* max height because height forces whole dimension */
  height: auto;
  max-width: 100%;
}


.image1
{
  text-align: center;
  margin-top: 270px;
  margin-bottom: 800px;
}

.image2
{
  text-align: center;
  margin-top: -730px;
  margin-bottom: 800px;
  margin-left: 222;
}