/* reset global margins and padding */
* 
{ 
  font-family: "Poppins";
  margin: 0;
  padding: 0; 
}

/* applies to all elements on page */
body 
{
  height: auto;
  margin: auto;
  background: linear-gradient(
    180deg,
    #003e82 0%,
    rgba(51, 124, 207, 0.8) 76.7%,
    rgba(51, 124, 207, 0.6) 99.98%,
    rgba(51, 124, 207, 0.3) 99.99%
    );
    
}

/* header image */
#header_image 
{
  background-image: url(../img/craft_4.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%; /* Horizontal: 50% (center), Vertical: 20% (closer to the top) */
  width: 100%;
  min-height: 40rem;

  box-shadow: 0rem 0.188rem 0.438rem #000000;
  position: relative; /* Ensure proper stacking context */
  z-index: 10; /* Places the element behind the text */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Adjust shadow for visibility */
}

#header_text
{
  text-align: center;
  position: relative; 
  margin-left: 23vw;
  margin-right: 23vw;
  top: 15rem;
  margin-bottom: 14rem;

  border-radius: 5rem;
  padding: 4rem;

  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3); /* Subtle blur shadow */

  font-size: 3.2rem;
  font-weight: 700;

  color: white;

  /* Gradient background */
  background: linear-gradient(
    90deg, /* Horizontal gradient */
    
    rgb(48, 114, 200)0%, /* Darker shade on the left */
    rgb(29, 42, 146) 100% /* Lighter shade on the right */
    
  );

  box-shadow: 0rem 0.188rem 0.438rem #000000
}

#header_text_description
{
  font-size: 1.8rem;
  margin-left: 3%;
  margin-right: 3%;
  
}

#discord-link
{
  text-align: center;
  position: relative;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 20rem;

  border-radius: 5rem;
  padding: 1rem;
  padding-top: 0rem;

  font-size: 1.8rem;
  font-weight: 900;

  color: white;
  background-color: rgb(25, 29, 136);
  box-shadow: 0rem 0.188rem 0.438rem #043162;
  
}

#discord-link:hover {
  transform: scale(1.08);
  text-decoration: underline;
}

#discord-logo
{
  position: relative;
  top: 1rem;
  left: -0.5rem;

  width: 20%;
  height: auto;
}


.main-section {
  display: flex;
  flex-direction: column;

  /* Gradient background */
  background: linear-gradient(
    180deg,
    #003e82 0%,
    rgba(51, 124, 207, 0.8) 76.7%,
    rgba(51, 124, 207, 0.6) 99.98%,
    rgba(51, 124, 207, 0.3) 99.99%
    );

  color: white;
}

.title
{
  padding-top: 7rem;
  padding-bottom: 5rem;
  text-align: center;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3); /* Subtle blur shadow */

  font-size: 3.2rem;
  font-weight: 700;

  color: white;  
}

.sub-title,
.description {
  text-align: left; /* Align text content to the left */
  width: 12%; /* Set a consistent width for alignment */
  margin-left: 60rem;
  margin-top: -7rem;
  color: #191D88;
  font-weight: 600;

  

}

/* spacing between paragraphs */
.sub-title {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.description
{
  margin-bottom: 2rem;
}

/* Catchphrase container */
.catchphrase {
  margin-top: 3rem;
  margin-bottom: -28rem;
  margin-left: 40rem;
  display: flex;

  align-items: center; /* Vertically aligns mascots and text */
  justify-content: center; /* Centers everything horizontally */
  gap: 2rem; /* Space between images and text */
  padding: 2rem 0; /* Adds vertical spacing for the section */
  text-align: center; /* Centers the text inside the text container */
  z-index: 1; /* Higher than the corners */

}
.catchphrase2 {
  margin-top: -10rem;
  font-weight: 600;

  margin-bottom: -5rem;
  margin-left: -5rem;
  display: flex;
  font-size: 52px; /* You can use any size you prefer */
  align-items: center; /* Vertically aligns mascots and text */
  justify-content: center; /* Centers everything horizontally */
  gap: 2rem; /* Space between images and text */
  padding: 2rem 0; /* Adds vertical spacing for the section */
  text-align: center; /* Centers the text inside the text container */
  z-index: 1; /* Higher than the corners */
  color:  rgb(29, 42, 146)


}

.catchphrase3{
  color:  rgb(29, 42, 146);
  font-weight: 600;

  margin-top: -17rem;
  margin-bottom: 6rem;
  margin-left: -50rem;
  display: flex;
  font-size: 52px; /* You can use any size you prefer */
  align-items: center; /* Vertically aligns mascots and text */
  justify-content: center; /* Centers everything horizontally */
  gap: 2rem; /* Space between images and text */
  padding: 2rem 0; /* Adds vertical spacing for the section */
  text-align: center; /* Centers the text inside the text container */
  z-index: 1; /* Higher than the corners */

}
/* Text container styling */
.catchphrase-text {
  font-weight: 600;
  margin-top: -14rem;

  font-size: 5rem; /* Adjust text size */
  font-weight: bold;
  line-height: 1.5; /* Line spacing for multiple lines */
  color: rgb(167, 30, 30);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Subtle shadow for text */

}

/* Highlight specific text */
.highlight {
  color: #FFC436; /* Blue color for "Forging Realities" */
}

/* Corner images */
.corner {
  width: 4rem; /* Adjust size of the corner brackets */
}

/* Mascot images */
.mascot {
  width: 5rem; /* Mascots size adjustment */
  position: relative;
  top: -0.5rem; /* Align mascots vertically with the text */
}

/* Rotate right corner */
#right_corner {
  transform: rotate(180deg); /* Flips the right corner */
}

/* Bracket Adjustment */
#left_corner {
  position: relative;
  top: -5rem; /* Moves the left bracket down */
  left: 112rem;
  width: 5rem; /* Mascots size adjustment */


}
#right_corner {
  position: relative;
  top: -8.5rem; /* Moves the right bracket up */
  left: -2rem;
  width: 5rem; /* Mascots size adjustment */

}


.corner2 {
  width: 34rem; /* Adjust size of the corner brackets */
}

#left_corner2 {
  position: relative;
  top: -30rem; /* Moves the left bracket down */
  left: 60rem;
  transform: scale(1.5); /* Scales the element to 1.5x its size */
}

#right_corner2 {
  position: relative;
  top: -2rem; /* Moves the right bracket up */
}
.corner3 {
  width: 154rem; /* Adjust size of the corner brackets */
}
#left_corner3 {
  position: relative;
  top: 14rem; /* Moves the left bracket down */
  left: -63rem;
  z-index: -1; /* Places the element behind the text */
  transform: scale(1.5); /* Scales the element to 1.5x its size */

}
.corner4 {
  width: 64rem; /* Adjust size of the corner brackets */
}
#left_corner4 {
  position: relative; /* Ensure the element can be layered */
  top: 4rem; /* Moves the left bracket down */
  left: -138rem;
  z-index: -1; /* Places the element behind the text */
  transform: scale(1.5); /* Scales the element to 1.5x its size */

}


.corner5 {
  width: 154rem; /* Adjust size of the corner brackets */
}
#left_corner5 {
  position: relative;
  top: 34rem; /* Moves the left bracket down */
  left: 111.9rem;
  transform: scale(1.5); /* Scales the element to 1.5x its size */

}

#left_corner6 {
  position: relative;
  top: 158rem; /* Moves the left bracket down */
  left: -10rem;
  width: 200%; /* Increase width */
  height: 200%; /* Increase height */
  transform: scale(3.5); /* Scales the element to 1.5x its size */
}

.video
{
  align-self: center;
  margin-bottom: 3rem;
}

.image1
{
  text-align: center;
  margin-top: 270px;
  margin-bottom: 800px;
  z-index: 1; /* Higher than the corners */

}

.image2
{
  text-align: center;
  margin-top: -730px;
  margin-bottom: 300px;
  margin-left: 222;
  z-index: 1; /* Higher than the corners */

}


