head
{ 
    font-family: "Poppins";
    background: linear-gradient(#191D88,#337CCF);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #003e82;
  }

  body 
{
    background-color: #003e82;
    font-family: "Poppins";
  }
 
  section 
  {
    background-color: white;
    color: #003e82;
    font-family: "Poppins";
    display: flex;
    flex-direction:row;
    padding: 15px;
  }
  div
  {
      background-color: white;
      color: #003e82;
      font-family: "Poppins";
  }
  
  h2
  {
    font-size: medium;
  }
  
  dt
  {
    font-size: 16px;
  }
.container-1
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    margin: 5px;
    padding: 0px;
    column-gap: 10px;
}

.flexbox-item Jessica_Image
{
    width: 256px;
    height: 200px;
    margin: 0px
}

.flexbox-item Jessica
{
    width: 334px;
    height: 238px;
    padding: 100px;
}

.flexbox-item Kezia_Image
{
    width: 256px;
    height: 200px;

    position: relative;
    left: 800px;
}

.flexbox-item Kezia
{
    width: 334px;
    height: 238px;

    position: relative;
    left: 1000px;

}

.flexbox-item Guzel_Image
{
    width: 256px;
    height: 200px;
    margin: 0px
}

.flexbox-item Guzel
{
    width: 334px;
    height: 238px;

    position: relative;
    left: 1000px;
}

.flexbox-item Mikyle_Image
{
    width: 256px;
    height: 200px;

    position: relative;
    left: 1000px;
}

.flexbox-item Mikyle
{
    width: 334px;
    height: 238px;

    position: relative;
    left: 1000px;
}

.flexbox-item Natalie_Image
{
    width: 256px;
    height: 200px;

    position: relative;
    left: 1000px;
}

.flexbox-item Natalie
{
    width: 334px;
    height: 238px;

    position: relative;
    left: 1000px;
}

.flexbox-item Tyler_Image
{
    width: 256px;
    height: 200px;

    position: relative;
    left: 1000px;
}

.flexbox-item Tyler
{
    width: 334px;
    height: 238px;

    position: relative;
    left: 1000px;
}

.flexbox-item Hoang_Image
{
    width: 256px;
    height: 200px;

    position: relative;
    left: 1000px;
}

.flexbox-item Hoang
{
    width: 334px;
    height: 238px;

    position: relative;
    left: 0px;
}

.flexbox-item Hannah_Image
{
    width: 256px;
    height: 200px;

    position: relative;
    left: 1000px;
}

.flexbox-item Hannah
{
    width: 334px;
    height: 238px;

    position: relative;
    left: 1000px;
}