body {
    background-color: #003e82;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    background-color: #191D88;
    color: white;
    padding: 10px;
}

section {
    background-color: white;
    color: #003e82;
    padding: 20px;
}

.container-1 {
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: space-evenly; /* Align items evenly across the container */
    gap: 20px; /* Space between items */
    margin: 20px 0;
}

.flexbox-item {
    display: flex;
    flex-direction: column; /* Align image and text vertically */
    align-items: left; /* Center items within each box */
    text-align: left;
    width: 250px; /* Consistent width for all items */
    margin: 10px;
}

.flexbox-item img {
    width: 100%; /* Image fills the width of its container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Optional: Rounded corners */
    margin-bottom: 10px; /* Space between image and text */
}

h2 {
    font-size: 1.2em;
    color: #191D88;
    margin: 10px 0;
}

dd {
    font-size: 1em;
    margin: 5px 0;
    color: #003e82;
}

@media screen and (max-width: 768px) {
    .container-1 {
        flex-direction: column;
        align-items: center;
    }
}