.flex 
{
  display: flex;
  flex-direction: column;
  float: right;

  width: 35%;
	height: 100%;
  margin-right: 15%;  
}

.item {
  animation: fadeIn 1s ease-out;
}

@keyframes fadeIn {
  0% { 
    opacity: 0; 
    transform: translateX(-100px);
  }
  100% { 
    opacity: 1; 
    transform: translateX(0px); 
  }
}

@keyframes fadeText {
  0% { 
    opacity: 0; 
    transform: translateX(100px);
  }
  100% { 
    opacity: 1; 
    transform: translateX(0px); 
  }
}

.maintext {
  animation: fadeText 1s ease-out;
  margin-top: 66px;
  padding-right: 750px;
	font-size: 25px;
	font-family: Sniglet;
	color:rgb(90, 114, 160);
	line-height: 50px;
}