#gamelink {
  padding: 2rem;
  margin: 1.5rem;
  border-radius: 4rem;
  text-align: center;
  color: white;

  text-decoration: none;
  color: white;
  display: block;

  background-color: #003e82;
}

#gamelink:hover {
  transform: scale(0.9);
  position: relative;
}

#gameelt {
  border-radius: 3rem;
  margin-bottom: 1rem;
  margin-top: 1.3rem;
  display: block;
}

#gametitle {
  position: relative;
  font-size: 1.563rem;
  font-weight: 600;
  width: 20rem;
  margin: auto;
}

#gamedescription {
  position: relative;
  font-size: 1.063rem;
  line-height: 2rem;
  width: 21rem;
}