/* reset global margins and padding */
* 
{ 
  font-family: "Poppins";
  margin: 0;
  padding: 0; 
}

/* applies to all elements on page */
body 
{
  height: auto;
  margin: auto;
  background: linear-gradient(
    180deg,
    #003e82 0%,
    rgba(51, 124, 207, 0.8) 76.7%,
    rgba(51, 124, 207, 0.6) 99.98%,
    rgba(51, 124, 207, 0.3) 99.99%
    );
}

/* header image */
#header_image 
{
  background-image: url(../img/craft_4.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%; /* Horizontal: 50% (center), Vertical: 20% (closer to the top) */
  width: 100%;
  min-height: 60rem;
  box-shadow: 0rem 0.188rem 0.438rem #000000;
  position: relative; /* Ensure proper stacking context */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Adjust shadow for visibility */
  z-index: 1; /* Ensure shadow is above other elements */
}

#header_text
{
  text-align: center;
  position: relative;
  margin-left: 23vw;
  margin-right: 23vw;
  top: 15rem;
  margin-bottom: 14rem;

  border-radius: 5rem;
  padding: 4rem;

  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3); /* Subtle blur shadow */

  font-size: 3.2rem;
  font-weight: 700;

  color: white;

  /* Gradient background */
  background: linear-gradient(
    90deg, /* Horizontal gradient */
    rgb(48, 114, 200)0%, /* Darker shade on the left */
    rgb(29, 42, 146) 100% /* Lighter shade on the right */
  );

  box-shadow: 0rem 0.188rem 0.438rem #000000
}

#header_text_description
{
  font-size: 1.8rem;
  margin-left: 3%;
  margin-right: 3%;
}

.main-section {
  display: flex;
  flex-direction: column;

  /* Gradient background */
  background: linear-gradient(
    180deg,
    #003e82 0%,
    rgba(51, 124, 207, 0.8) 76.7%,
    rgba(51, 124, 207, 0.6) 99.98%,
    rgba(51, 124, 207, 0.3) 99.99%
    );

  color: white;
}

.title
{
  padding-top: 7rem;
  padding-bottom: 5rem;
  text-align: center;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3); /* Subtle blur shadow */

  font-size: 3.2rem;
  font-weight: 700;

  color: white;  
}

.sub-title,
.description {
  text-align: left; /* Align text content to the left */
  width: 48%; /* Set a consistent width for alignment */
  margin: 0 auto; /* Center the element within the parent */
}

/* spacing between paragraphs */
.sub-title {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.description
{
  margin-bottom: 2rem;
}

/* Catchphrase container */
.title {
  margin-top: 42rem;
  margin-bottom: 5rem;
  display: flex;
  align-items: center; /* Vertically aligns mascots and text */
  justify-content: center; /* Centers everything horizontally */
  gap: 2rem; /* Space between images and text */
  padding: 2rem 0; /* Adds vertical spacing for the section */
  text-align: center; /* Centers the text inside the text container */
}

/* Text container styling */
.title-text {
 
  font-size: 64px;
  font-weight: 600;
  line-height: 1.5; /* Line spacing for multiple lines */
  color: #ffc436;;
  z-index: 1;

  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Subtle shadow for text */
}

.text {
  margin-top: -8rem;
  margin-bottom: -22rem;
  display: flex;
  align-items: center; /* Vertically aligns mascots and text */
  justify-content: center; /* Centers everything horizontally */
  gap: 2rem; /* Space between images and text */
  padding: 2rem 0; /* Adds vertical spacing for the section */
  text-align: center; /* Centers the text inside the text container */
}

/* Text container styling */
.text2 {
  font-size: 
  36px;
  font-weight: 600;
  line-height: 1.5; /* Line spacing for multiple lines */
  color: #191D88;  
  z-index: 1;

  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Subtle shadow for text */
}
/* Highlight specific text */
.highlight {
  color: #FFC436; /* Blue color for "Forging Realities" */
}

/* Corner images */
.corner {
  width: 4.5rem; /* Adjust size of the corner brackets */
}

/* Mascot images */
.whiteslame {
  align-self: center;

  width: 85rem; /* Mascots size adjustment */
  position: relative;
  top: -115.5rem; /* Align mascots vertically with the text */
}

.game {
  align-self: center;

  width: 135rem; /* Mascots size adjustment */
  position: relative;
  
  top: -30.5rem; /* Align mascots vertically with the text */
}
/* Rotate right corner */
#right_corner {
  transform: rotate(180deg); /* Flips the right corner */
}

/* Bracket Adjustment */
#left_corner {
  position: relative;
  top: 1rem; /* Moves the left bracket down */
  left: 2rem;
  z-index: 1;

}
#right_corner {
  position: relative;
  top: -0.5rem; /* Moves the left bracket down */
  left: -2.5rem;
  z-index: 1;

}
.slam {
  width: 95rem; /* Adjust size of the corner brackets */
}
.controller {

  width: 144rem; /* Ajust size of the corner brackets */
}
#whiteslam {
  position: relative;
  top: -17rem; /* Moves the left bracket down */
  left: 87rem;
  align-items: center; /* Vertically aligns mascots and text */
  justify-content: center;
}
#gamecontroller {
  position: relative;
  top: -5rem; /* Moves the left bracket down */
  left: -48rem;
}
.image1
{

  align-self: center;
  margin-bottom: 13rem;
  margin-top: -84rem;
  z-index: 1;

}
.image2
{

  align-self: center;
  margin-bottom: -303rem;
  z-index: 1;


}

/* Flexbox Layout for the logo container */
.logo-container {

  display: flex;
  justify-content: space-between; /* Distribute items on the left and right */
  align-items: center; /* Vertically align the logos */
}

#left_middle_logo4 {
  width: 900px; /* Fixed width */
  margin-bottom: -200px; /* Fixed bottom margin */
  margin-top: 700px; /* Fixed top margin */
  transform:translateY(-22%)
}

#right_middle_logo4 {
  width: 1000px; /* Fixed width */
  margin-top: 100px; /* Adjust this to move the logo vertically */
  transform:translateY(64%)

}
#left_down {

  width: 1700px; /* Fixed width */
  margin-bottom: 200px; /* Fixed bottom margin */
  margin-top: 700px; /* Fixed top margin */
  transform:translateY(-2%)

}