*{
    font-family: "Poppins";
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: auto;
    margin: 0 auto;
    background: linear-gradient(
      180deg,
      #003e82 0%,
      rgba(51, 124, 207, 0.8) 76.7%,
      rgba(51, 124, 207, 0.6) 99.98%,
      rgba(51, 124, 207, 0.3) 99.99%
      );
  }
  
  /* Pull all elements in the body in a div "container" to set their width and balance left and right margin */
  
  /* "About Us" Title Part */
  .about-us-title {
    /* About Us Page Title */
    font-size: 2.938rem;
    font-family: sans-serif;
    text-align: center;
    color: #fff;
    font-weight: 500;
    line-height: 1.563rem;

  
    /* Background Image */
    background-image: url(../img/web_banner_big_bg.png);
    background-size: 1400px;
    background-position: center;
    width: 100%;
    height: 410px;
    box-shadow: 0px 3px 7px #043162;
  }
  
  /* "About Us" Title Text */
  .about-us-title-text {
    padding-top: 16.188rem;
    padding-bottom: 0rem;
    font-weight: bold;
  }
  
  /* Club's Statement Part */
  .club-statement {
    margin-left: 10.063rem;
    margin-right: 10rem;
    margin-top: 7rem;
    margin-bottom: 8rem;
  }
  
  /* Club's Statement Text */
  .club-statement-text {
    font-size: 1.563rem;
    font-family: sans-serif;
    font-weight: 600;
    color: #fff;
  
    line-height: 2.5rem;
  }
  
  /* What We Provide Part */
  /* What We Provide Title */
  .what-we-provide-title {
    margin-left: 10.063rem;
    margin-right: 59.125rem;
    margin-bottom: 1.125rem;
  
    font-size: 2.25rem;
    font-family: sans-serif;
    font-weight: 600;
    color: #fff;
  }
  
  /* What We Provide Text */
  .what-we-provide-text {
    margin-left: 10.063rem;
    margin-right: 40rem;
    margin-bottom: 6.438rem;
  
    font-size: 1.063rem;
    font-family: sans-serif;
    font-weight: 500;
    color: #fff;
  
    width: 39.938rem;
    height: 7.375rem;
    line-height: 1.563rem;
  }
  
  /* Where We Meet Part */
  /* Where We Meet Title */
  .where-we-meet-title {
    margin-left: 44rem;
    margin-right: 28.063rem;
    margin-bottom: 0.813rem;
  
    font-size: 2.25rem;
    font-family: sans-serif;
    font-weight: 600;
    color: #fff;
  }
  
  /* Where We Meet Text */
  .where-we-meet-text {
    margin-left: 44rem;
    margin-right: 12.563rem;
    margin-bottom: 5.938rem;
  
    font-size: 1.063rem;
    font-family: sans-serif;
    font-weight: 500;
    color: #fff;
  
    line-height: 1.563rem;
  }
  
  /* Discord Link */
  .where-we-meet-text a:link {
    color: #feb81a;
    text-decoration: none;
    font-weight: bolder;
  }
  
  .where-we-meet-text a:visited {
    color: #feb81a;
    text-decoration: none;
    font-weight: bolder;
  }
  
  .where-we-meet-text a:hover {
    color: black;
    background-color: #feb81a;
    font-weight: bolder;
  }
  
  .where-we-meet-text a:active {
    color: rgb(0, 0, 0);
    background-color: #feb81a;
    font-weight: bolder;
  }
  
  /* Methods to LL */
  .methods-to-ll {
    margin-bottom: 0rem;
  }
  /* Elevator Part */
  .methods-elevator {
    margin-left: 44rem;
  
    font-size: 1.063rem;
    font-family: sans-serif;
    color: #fff;
  }
  
  .methods-elevator-title {
    font-size: 1.063rem;
    margin-bottom: 0.625rem;
  }
  
  .methods-elevator-list {
    margin-left: 1.875rem;
    margin-right: 0.625rem;
  
    padding-right: 0.625rem;
  
    line-height: 1.563rem;
  }
  
  /* Stairs Part */
  .methods-stairs {
    margin-left: 44rem;
    margin-top: 1.25rem;
  
    font-size: 1.063rem;
    font-family: sans-serif;
    color: #fff;
  }
  
  .methods-stairs-title {
    font-size: 1.063rem;
    margin-bottom: 0.625rem;
  }
  
  .methods-stairs-list {
    margin-left: 1.875rem;
    margin-right: 10.938rem;
  
    padding-right: 0.625rem;
  
    line-height: 1.563rem;
  }
  
  /* MLK Library Images Part */
  .mlk-images {
    margin-left: 10.5rem;
    float: left; /* Make the MLK Images Float Left of Where We Meet */
  }
  
  .mlk-images-entrance {
    margin-bottom: 2.563rem;
  }
  
  /* navbar css  */
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  li,
  a {
    font-family: "Poppins";
    font-weight: 700;
    font-size: 1rem;
    color: white;
    text-decoration: none;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
  
  header {
    background-color: #003e82;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem 3%;
  }

  #FAQ
  {
    text-align: center;
    padding: 5%;
    padding-bottom: 7%;
    font-size: 2.938rem;
    color: white;
  }
  
  .logo {
    margin-right: 0.625rem;
    width: 4.375rem;
    cursor: pointer;
  }
  
  .sjsu-game-dev {
    font-weight: 700;
    font-size: 1.25rem;
    color: white;
    font-family: "Poppins";
  }
  
  .nav-links {
    list-style: none;
    margin-left: auto;
  }
  
  .nav-links li {
    display: flex;
    margin-left: auto;
    display: inline-block;
    padding: 0rem 1.25rem;
  }
  
  /* target nav tags and a tag inside them */
  .nav-links li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav-links li a:hover {
    color: #face0d;
  }

h1 {
    text-align: center;
    color: white;
    padding: 10px;
    padding: 2%;
    padding-bottom: 2%;
    font-size: 2.938rem;
    line-height: 2.6rem;
    font-weight: bold;
}

section {
    background-color: white;
    color: #003e82;
    padding: 20px;
}

.container-1 {
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: space-evenly; /* Align items evenly across the container */
    gap: 20px; /* Space between items */
    margin: 20px 0;
}

.container-2 {
    display: flex;
    justify-content: space-evenly; /* Align items evenly across the container */
    gap: 5px; /* Space between items */
    margin: 1.5rem 0;
}

.container-3 {
    display: flex;
    align-items: center; /* Center items within each box */
    text-align: center;
    justify-content: center;
    flex-direction: column;
    width: 408px;
    height:120px;
    gap:5px;
    border: 3px solid #191D88;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 2rem;
}



.flexbox-item {
    display: flex;
    flex-direction: column; /* Align image and text vertically */
    align-items: left; /* Center items within each box */
    text-align: left;
    width: 325px; /* Consistent width for all items */
    margin: 10px;
}

.flexbox-item img {
    width: 100%; /* Image fills the width of its container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Optional: Rounded corners */
    margin-bottom: 10px; /* Space between image and text */
}

#Endlessette
{
    display: flex;
    flex-direction: row; 
    align-items: center; /* Center items within each box */
    text-align: center;
    width: 325px; 
    margin-top: 1.5rem;
}
#Ben
{
    display: flex;
    flex-direction: row; 
    align-items: center;
    text-align: center;
    width: 325px; 
    margin-top: 1.5rem;
}
h2 {
    font-size: 16px;
    color: #191D88;
    margin: 10px 0;
}

h3 {
    font-size: 16px;
    color: white;
    margin: 10px 0;
    font-weight: bold
}

h6 {
    background-color: white;
    color: #003e82;
    margin: 10px 0;
    font-size: 24px;
    margin-top: 2rem;
}


dd {
    font-size: 16px;
    margin: 5px 0;
    color: #003e82;
}

p {
    font-size: 16px;
    margin: 1.5rem 0;
    color: #003e82;
}

h4 {
    font-size: 16px;
    font: weight 12px;;
    color: #191D88;
    margin: 5px 0;
    margin-bottom: 2rem;
    align-items:center;
}

@media screen and (max-width: 768px) {
    .container-1 {
        flex-direction: column;
        align-items: center;
    }
}

    .faq-section {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        border-radius: 8px;
        margin-bottom: 20px;
        background-color: transparent;
    }
    
    .faq-section h1 {
        text-align: center;
        color: white;
        font-weight: bolder;
    }

    .faq-section h3 {
        text-align: left;
        color: white;
        background-color: transparent;
    }

    .faq-title
    {
        position: relative;
        font-size: 1.563rem;
        font-weight: 600;
        width: 20rem;
        top: -5rem;
        margin: auto;
    }
.accordian {
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    overflow: hidden;
    transition: 0,4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    text-align: left;
    background-color: transparent;
}

.accordion i {
    margin-right: 10px;
    font-size: 1.2rem;
}

.accordion h3 {
    margin: 0;
    font-size: 1.2rem;
    color: white;
    border: none;
    outline: none;
    background-color: transparent;
    font-weight: bold
    
}

.panel {
    display: none;
    padding: 10px;
    border-top: 1px
}

.accordion.active + .panel {
    display: block;
}

p {
    font-size: 16px;
    color: white;
}

#left_corner
{
  position: relative;
  margin-bottom: -4rem;
  margin-right: 1.6rem;
  width: 87px;
  height: 82px;
  top: 50px;
  left: 50px;
}

#right_corner
{
  position: relative;
    transform: scaleY(-1) scaleX(-1);
  margin-bottom: 1.5rem;
  width: 87px;
  height: 82px;
  top: 50px;
  left: 50px;
}
